* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

#name-section h2 {
   background-color: green;
   text-align: center;
   font-family: cursive;
   padding: 1rem;
   color: antiquewhite;
}

.header {
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 15px 40px;
   background: #fff;
   border-bottom: 1px solid #eee;
}

.header img {
   height: 60px;
   padding-left: 3rem;
}

.order-button {
   padding: 10px 18px;
   background-color: green;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 6px;
   font-size: 14px;

}

.order-button:hover {
   background: darkgreen;
}

.search-box {
   display: flex;
   align-items: center;


}

.search-box input[type="text"] {
   padding: 8px 15px;
   border: 2px solid black;
   border-radius: 25px 0 0 25px;
   outline: none;
   margin-left: 30rem;
   font-family: cursive;
}

.search-box button {
   padding: 12px 15px;
   border: none;
   background: green;
   color: white;
   border-radius: 0 25px 25px 0;
   outline: none;
   cursor: pointer;
}

.search-box button:hover {
   background: darkgreen;
}

#nav-section {
   position: sticky;
   top: 0;

}

#nav-section nav {
   padding: 1rem;
   display: flex;
   justify-content: center;
   background-color: #333;
   color: white;
   font-family: cursive;
   font-size: 0.7rem;
   cursor: pointer;
   gap: 2rem;


}

#nav-section nav :hover {
   color: green;
   cursor: pointer;
}

#image img {
   height: 500px;
   width: 100%;
}

#image h2 {
   text-align: center;
   font-size: 2rem;
   font-family: cursive;

}

.img-2 {
   height: 600px;
   width: 100%;
   position: relative;
   display: inline-block;
   justify-content: center;
}
.center-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
      width: 64px;              
      height: 64px;
      opacity: 0.8;
    }

.video-thumbnail {
   height: 600px;
   width: 100%;
   cursor: pointer;
  
}
#img-container {
   padding-left: 2rem;
}

#img-container img {
   border-radius: 10px;
   border: 1px solid white;
  transition: transform 0.4sec ease;
  height: 200px;
  width: 500px;
  
}

#img-container img:hover {
   
   cursor: pointer;
   transform: scale(1.1);
}


footer {
   height: 70vh;
   background-color: black;
   width: 100%;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   /* font-weight: ; */
   font-style: normal;

}

footer #footer-menu {
   height: 316px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 2rem 6rem;
}

footer #footer-menu #contact-links li {
   font-weight: bolder;
   padding-top: 2rem;
}

footer #footer-menu ul {
   line-height: 2rem;
}

footer #footer-menu ul h2 {
   margin-bottom: 12px;
   color: #0db3ab;
}

footer #footer-menu ul li {
   list-style: none;
   color: azure;
   font-weight: 400;
}

footer #footer-menu #icons i:hover {
   cursor: pointer;
   color: blue;
}




footer #footer-menu ul li:hover {
   cursor: pointer;
   color: yellowgreen;
}

footer #footer-menu #icons {
   padding-top: 3rem;
}

footer #footer-menu #contact-links li:hover {
   cursor: pointer;
   color: cyan;
}